#container{
  color: #36454f;
margin: 25px;
	margin-left: 75px;
	margin-right: 75px;
}

#headshot {
	float: right;
	border: 3px solid #FFFFFF;
	margin: 10px;
	margin-right: 80px;
  height: 180px;
  width: 180px;
}

.navLinks{
margin-right: 5px;
}
.contactHeader{
  display: inline;
	margin: 5px;
	margin-left: 20px;
	color: black;
  padding-bottom: 100px;
}

.resumeSections{
	border: 2px solid DarkOliveGreen;
	margin: 10px;
	padding: 10px;
	background-color: Linen;
  	background-size: cover;
}

.resumeAboutMe{
	border: 2px solid rgb(46,105,163);
	margin: 10px;
	padding: 10px;
	color: rgb(46,105,163);
	justify-content: center;
	background-color: Linen;
  	background-size: cover;
}
h1 {
margin-bottom:	-10px;
font-size: 2em;
}

h4 {
margin-bottom: -10px;
}
