#container{
  color:DarkOliveGreen;
margin: 25px;
	margin-left: 250px;
	margin-right: 250px;
}

#headshot {
	float: right;
	border: 3px solid #FFFFFF;
	margin: 10px;
}

.contact-header{
  display: inline;
	margin: 5px;
	margin-left: 20px;
	color: rgb(46,105,163);
}

.resume-sections{
	border: 2px solid DarkOliveGreen;
	margin: 10px;
	padding: 10px;
	background-color: Linen;
  	background-size: cover;
}

.resume-aboutme{
	border: 2px solid rgb(46,105,163);
	margin: 10px;
	padding: 10px;
	color: rgb(46,105,163);
	justify-content: center;
	background-color: Linen;
  	background-size: cover;
}
h2 {
margin-bottom:	-10px;
}

h4 {
margin-bottom: -5px;	
}
