#container{
  color: #36454f;
  margin: 0px 10% 25px 10%;
}

#headshot {
  float: right;
  border: 3px solid #FFFFFF;
  margin: 10px;
  margin-right: 80px;
  height: 160px;
  width: 160px;
}

.contactHeader ul{
  list-style: none;
  padding: 0px;
}

.contactHeader ul li {
  display: inline;
  margin-right: 5px;
}

.navMain ul{
  list-style: none;
    padding: 0px;
}

.navMain ul li{
    display: inline;
}

.navMain ul li a{
  text-decoration: none;
  color: rgb(46,105,163);
}
.navLinks{
  margin-right: 5px;
}
.contactHeader{
  display: inline;
  margin: 0px 20px 5px 5px;
  margin-left: 20px;
  color: black;
  padding-bottom: 100px;
}

h4 {
  margin: 10px;
  display: block;
}

.resumeSections{
  border: 2px solid DarkOliveGreen;
  margin: 10px;
  padding: 10px;
  background-color: Linen;
  background-size: cover;
}

.resumeAboutMe{
  border: 2px solid rgb(46,105,163);
  margin: 10px;
  padding: 10px;
  justify-content: center;
  background-color: Linen;
  background-size: cover;
}

a.topLink {
  margin: auto 50%;
}
h1 {
  margin-bottom:	-10px;
}
h3 {
  margin-top: 0px;
}
